# 흥행성적 -> 외국, 한국, 통합

In [1]:
import platform

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from matplotlib import font_manager, rc

In [2]:
df_all = pd.read_csv('data/kobis_all_movie.csv',  encoding='ANSI')
df_all.head(10)

,순번,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분
0,1,명량,김한민,(주)빅스톤픽쳐스,NaN,씨제이이앤엠(주),2014-07-30,개봉영화,장편,한국,"1,587",1.360000e+11,"17,613,682",3.312123e+10,"4,163,666",사극,15세이상관람가,상업영화
1,2,아바타,제임스 카메론,이십세기폭스필름코퍼레이션,"주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)","주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)",2009-12-17,개봉영화,장편,미국,912,1.280000e+11,"13,624,328",4.054752e+10,"3,993,374",SF,12세이상관람가,다양성영화
2,3,왕의 남자,이준익,"(주)씨네월드,(주)이글픽쳐스",NaN,(주)시네마서비스,2005-12-29,개봉영화,장편,한국,0,0.000000e+00,"12,302,831",0.000000e+00,"3,660,842",드라마,15세이상관람가,상업영화
3,4,괴물,봉준호,영화사청어람(주),NaN,(주)쇼박스,2006-07-27,개봉영화,장편,한국,0,0.000000e+00,"13,019,740",0.000000e+00,"3,571,254",SF,12세관람가,상업영화
4,5,태극기 휘날리며,강제규,강제규필름,NaN,(주)쇼박스,2004-02-05,개봉영화,장편,한국,0,0.000000e+00,"11,746,135",0.000000e+00,"3,509,563",전쟁,15세관람가,상업영화
5,6,도둑들,최동훈,(주)케이퍼필름,NaN,(주)쇼박스,2012-07-25,개봉영화,장편,한국,"1,072",9.366557e+10,"12,983,330",2.608943e+10,"3,468,906",액션,15세이상관람가,상업영화
6,7,"광해, 왕이 된 남자",추창민,"리얼라이즈픽쳐스(주),씨제이이앤엠(주)",NaN,씨제이이앤엠(주),2012-09-13,개봉영화,장편,한국,810,8.890021e+10,"12,319,542",2.519280e+10,"3,355,700",사극,15세이상관람가,상업영화
7,8,신과함께-죄와 벌,김용화,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",NaN,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,개봉영화,장편,한국,"1,912",1.160000e+11,"14,410,931",2.753083e+10,"3,346,172",판타지,12세이상관람가,상업영화
8,9,베테랑,류승완,"(주)외유내강,(주)필름케이",NaN,씨제이이앤엠(주),2015-08-05,개봉영화,장편,한국,"1,064",1.050000e+11,"13,395,400",2.676637e+10,"3,290,366",액션,15세이상관람가,상업영화
9,10,실미도,강우석,(주)시네마서비스,NaN,(주)시네마서비스,2003-12-24,개봉영화,장편,한국,0,0.000000e+00,"11,081,000",0.000000e+00,"3,264,000",전쟁,15세관람가,상업영화

In [ ]:
df_fgn = pd.read_csv('data/kobis_foreign_movie.csv',  encoding='ANSI')
df_fgn.head(10)

In [ ]:
df_kor = pd.read_csv('data/kobis_korean_movie.csv',  encoding='ANSI')
df_kor.head(10)

In [3]:
df_all.rename(columns={'서울관객수':'관객수'}, inplace=True)
df_all = df_all.drop(columns={'감독','제작사','수입사','배급사','개봉일','영화유형','영화형태','국적','전국스크린수','전국매출액','전국관객수','서울매출액','장르','등급','영화구분'})
df_all.set_index('순번', inplace=True)
df_all.head()

         영화명        관객수
순번
1         명량  4,163,666
2        아바타  3,993,374
3      왕의 남자  3,660,842
4         괴물  3,571,254
5   태극기 휘날리며  3,509,563

In [ ]:
df_fgn.rename(columns={'서울관객수':'관객수'}, inplace=True)
df_fgn = df_fgn.drop(columns={'감독','제작사','수입사','배급사','개봉일','영화유형','영화형태','국적','전국스크린수','전국매출액','전국관객수','서울매출액','장르','등급','영화구분'})
df_fgn.set_index('순번', inplace=True)
df_fgn.head()

In [ ]:
df_kor.rename(columns={'서울관객수':'관객수'}, inplace=True)
df_kor = df_kor.drop(columns={'감독','제작사','수입사','배급사','개봉일','영화유형','영화형태','국적','전국스크린수','전국매출액','전국관객수','서울매출액','장르','등급','영화구분'})
df_kor.set_index('순번', inplace=True)
df_kor.tail()

In [ ]:
df_all = df_all[:500]

In [ ]:
df_fgn = df_fgn[:500]

In [ ]:
df_kor = df_kor[:500]

In [ ]:
df_kor.tail()

In [4]:
df_all.to_csv('data/semi_project_all_movie2.csv', sep=',', encoding='euc-kr')

In [ ]:
df_kor.to_csv('data/semi_project_kor_movie2.csv', sep=',', encoding='euc-kr')

In [ ]:
df_fgn.to_csv('data/semi_project_fgn_movie2.csv', sep=',', encoding='euc-kr')